/* THE TITLEBAR AND IT'S BASIC CONTENTS (#titlebar, #titlebar-text, #titlebar-drag) */

#titlebar {
  position: fixed;
  height: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 138px;
  z-index: 1000;
}

#titlebar-text {
  grid-column: 1;
  font-family: "Segoe UI", sans-serif;
  padding-left: 12px;
  font-size: 12px;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  white-space: nowrap;
}

/* Make sure the text is light instead of dark when the theme is dark */
.theme-dark #titlebar-text {
  color: white;
}

/* Dim the text when the window  loses focus */
.blurred #titlebar-text {
  opacity: 0.5;
}

/* Make sure the drag region has space around it for the window resize handles */
#titlebar-drag {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 0;
  -webkit-app-region: drag;
}

/* Don't worry about adding extra space to the drag region */
/* when the window is maximized or fullscreen */
.maximized #titlebar-drag,
.full-screen #titlebar-drag {
  top: 0;
  left: 0;
  right: 0;
}

/* THE BUTTONS AND ICONS (#titlebar-buttons, .button, .icon, .icon-white, .icon-black) */

#titlebar-buttons {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: relative;
  -webkit-app-region: none;
}

#titlebar-buttons .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
}

/* Dim the buttons when the window is blurred */
.blurred #titlebar-buttons .button {
  opacity: 0.5;
}

/* Make sure a button isn't dimmed when it is hovered on */
#titlebar-buttons .button:hover {
  opacity: 1;
}

/* Highlight the background of the buttons when they are hovered on or clicked, */
/* dark background for light theme and light background for dark theme */
.theme-light #titlebar-buttons .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.theme-light #titlebar-buttons .button:active {
  background: rgba(0, 0, 0, 0.2);
}

.theme-dark #titlebar-buttons .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.theme-dark #titlebar-buttons .button:active {
  background: rgba(255, 255, 255, 0.2);
}

/* Make sure the icons can't be dragged */
#titlebar-buttons .icon {
  -webkit-user-drag: none;
}

/* Make sure the right icon colors show up when the window is themed */
.theme-light #titlebar-buttons .icon {
  filter: brightness(0);
}

/* STYLING FOR EACH DIFFERNT ICON TYPE */
/* (#titlebar-button-minimize, #titlebar-button-maximize, */
/* #titlebar-button-restore, #titlebar-button-close) */

/* Make sure the buttons go in the right places */
#titlebar-button-minimize {
  grid-column: 1;
}

#titlebar-button-maximize,
#titlebar-button-restore {
  grid-column: 2;
}

#titlebar-button-close {
  grid-column: 3;
}

/* Make sure the maximize and restore buttons are only visible when we want them to be */
#titlebar-button-restore {
  display: none !important;
}

.full-screen #titlebar-button-restore,
.maximized #titlebar-button-restore {
  display: flex !important;
}

.full-screen #titlebar-button-maximize,
.maximized #titlebar-button-maximize {
  display: none;
}

/* Red background for the close button when it is hovered on or clicked */
#titlebar-button-close:hover {
  background: #e81123 !important;
}

#titlebar-button-close:active {
  background: #f1707a !important;
}

/* Make sure the close button's icon is the right color when it */
/* is hovered or clicked and the theme is light or dark */
.theme-dark #titlebar-button-close:active .icon {
  filter: brightness(0);
}

.theme-light #titlebar-button-close:hover:not(:active) .icon {
  filter: brightness(1);
}
